//
//  Created by Castiel Chen on 2016/11/28.
//  Copyright © 2016年 Castiel Chen. All rights reserved.
//
ENABLE_BITCODE = NO

OTHER_LDFLAGS = $(inherited) -ObjC -l"c++" -l"sqlite3"  -l"xml2" -l"z" -framework "AVFoundation"  -framework "AdSupport" -framework "AudioToolbox" -framework "CoreGraphics" -framework "CoreLocation" -framework "CoreMedia" -framework "CoreMotion" -framework "CoreTelephony"  -framework "Foundation" -framework "MobileCoreServices" -framework "SafariServices" -framework "Security" -framework "StoreKit" -framework "SystemConfiguration" -framework "UIKit"   -framework "WebKit" -framework "GLKit" -framework "MessageUI" -weak_framework "AdSupport" -weak_framework "CoreMotion" -weak_framework "SafariServices" -weak_framework "Social" -weak_framework "StoreKit" -weak_framework "WebKit"


