//
//  Created by Castiel Chen on 2016/11/28.
//  Copyright © 2016年 Castiel Chen. All rights reserved.
//
ENABLE_BITCODE = NO

OTHER_LDFLAGS = $(inherited) -ObjC -l"c++" -l"sqlite3"  -l"xml2" -l"z" -framework "AVFoundation" -framework "Accelerate"  -framework "AdSupport" -framework "AudioToolbox" -framework "CFNetwork"  -framework "CoreBluetooth" -framework "CoreData" -framework "CoreGraphics" -framework "CoreImage" -framework "CoreLocation" -framework "CoreMedia" -framework "CoreMotion" -framework "CoreTelephony" -framework "CoreVideo" -framework "EventKit" -framework "EventKitUI"  -framework "Foundation" -framework "GLKit"  -framework "MediaPlayer" -framework "MessageUI" -framework "MobileCoreServices" -framework "OpenGLES" -framework "QuartzCore" -framework "SafariServices" -framework "Security" -framework "Social" -framework "StoreKit" -framework "SystemConfiguration" -framework "UIKit"   -framework "WebKit" -framework "iAd" -weak_framework "AdSupport" -weak_framework "CoreMotion" -weak_framework "SafariServices" -weak_framework "Social" -weak_framework "StoreKit" -weak_framework "WebKit"


